@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:ital@1&display=swap");

/* ====== GERAL =================== */

:root {
  --hue: 36;

  --primary: hsl(var(--hue), 98%, 32%);
  --primary-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --primary-dark: hsl(var(--hue), 100%, 29%);
  --bg-grey: hsl(0, 2%, 91%);
  --bg-beige: hsl(39, 100%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;

  text-align: center;

  background-color: var(--bg-grey);

  overflow: overlay;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  width: fit-content;

  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  background-color: var(--primary);
  border: none;
  border-radius: 40px;
  padding: 1.6rem 3.2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-inline: auto;
  margin-bottom: 6rem;

  transition: background 0.2s;
}

a:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

section {
  padding-block: 10rem;
}

header h4 {
  color: var(--primary);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

header h2 {
  font-size: 3rem;
  margin-bottom: 6rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.card {
  background-color: white;
  padding: 3.4rem;
  border: 1px solid #dce9e2;
  border-radius: 10px;

  text-align: justify;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.082);
}

/* ====== NAVIGATION =================== */
#navigation {
  display: flex;

  height: var(--nav-height);
  width: 100vw;

  position: fixed;
  top: 0;

  z-index: 100;
}

#navigation .closeMenuButton,
#navigation .openMenuButton {
  cursor: pointer;
}

#navigation .wrapper {
  padding-block: 1.6rem;
  padding-inline: 2.4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ====== SCROLL =================== */

#navigation.scroll {
  background-color: var(--primary);
}
#navigation.scroll .logo svg path {
  fill: var(--bg-beige);
}
#navigation.scroll .openMenuButton svg path {
  stroke: var(--bg-beige);
}

/* ====== MENU =================== */
#navigation .menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

#navigation .closeMenuButton {
  display: none;
}

/* Menu aberto*/

body.menu-expanded {
  overflow: hidden;
}

#navigation.show .menu {
  transform: translateY(0);

  display: grid;
  place-content: center;

  opacity: 1;
  visibility: visible;

  background-color: var(--primary);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  transition: transform 0.35s;
}

#navigation.show .logo,
#navigation.show .closeMenuButton {
  display: initial;
  position: relative;
  z-index: 10;
}

#navigation.show .logo svg path {
  fill: white;
}

#navigation.show ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

#navigation.show .page-links {
  margin-bottom: 4.8rem;
}

#navigation.show ul.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navigation.show .button {
  color: var(--primary);
  background-color: var(--bg-beige);
}
#navigation.show .button:hover {
  color: var(--bg-beige);
  background-color: var(--primary);

  filter: brightness(125%);
}

#navigation.show ul li a {
  color: var(--bg-beige);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

#navigation.show ul li a.button {
  font-size: 1.8rem;
}

/* ====== HOME =================== */

#home {
  padding-block: 0;
  background-color: var(--primary-light);
  padding-top: calc(6.77rem + var(--nav-height));
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 4.8rem;
}

#home a {
  text-decoration: none;
}

#home img {
  margin-inline: auto;
  width: 100%;
  display: block;
}

/* ====== REVIEWS =================== */

#reviews .card .stars {
  font-size: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: var(--primary);
}

#reviews .card blockquote .text {
  margin-bottom: 3rem;
}

#reviews .card .text .quotation {
  font-size: 5rem;
  font-family: serif;
  color: var(--primary);
  margin-right: 0.75rem;
}

#reviews .card blockquote cite {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#reviews .card blockquote cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
}

/* Swiper */

.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
.swiper {
  padding-block: 1rem;
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 80%;
}

.swiper-slide:nth-child(3n) {
  width: 80%;
}

/* ====== CLASSICS =================== */

#classics {
  background-color: var(--primary-light);
}

#classics .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#classics img {
  width: 60%;
}

#classics .card {
  text-align: left;
  padding-block: 5rem;
  display: flex;
  gap: 1rem;
}

#classics .card .text h4 {
  margin-bottom: 0.5rem;
}

/* ====== ABOUT =================== */

#about {
  text-align: left;
  background-color: var(--bg-beige);
}

#about p {
  margin-bottom: 1.6rem;
}

#about .content {
  text-indent: 3.2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

/* ====== CONTACT =================== */

#contact {
  text-align: left;
  background-color: white;
}

#contact .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

#contact .content a.button {
  background-color: rgb(160, 5, 5);
  margin: 0 auto;
}

#contact .content a.button:hover {
  background-color: red;
}

#contact .content ul {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#contact iframe {
  height: 30rem;
  width: 100%;
}

/* ====== FOOTER =================== */

footer {
  padding-block: 6rem;
  background-color: var(--primary);
  text-align: left;
  color: var(--bg-beige);
  font-size: 1.6rem;
  line-height: 2.1rem;
}

footer .content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

footer .text p {
  margin-bottom: 1.2rem;
}

footer ul.social-links {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

footer .logo svg path {
  fill: var(--bg-beige);
}

/* ====== BACK TO TOP =================== */
a.backToTopButton {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 2.5rem;
  bottom: 1rem;
  z-index: 40;

  transform: translateY(100%);
  transition: transform 0.2s;
}

a.backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0%);
}

a.backToTopButton.show.onFooter svg circle {
  fill: white;
}

a.backToTopButton.show.onFooter svg path {
  stroke: var(--primary);
}

/* ====== RESPONSIVE =================== */

@media (min-width: 1023px) {
  /*=================== GERAL=================== */
  body {
    overflow: auto;
  }

  section {
    padding-block: 12rem;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }
  .col-b {
    grid-area: B;
  }

  /*=================== NAVIGATION=================== */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    opacity: 1;
    visibility: initial;
    display: initial;
    flex-direction: initial;
    position: initial;
    transform: initial;
    color: initial;
    background: initial;
    font-size: initial;
    font-weight: initial;
  }
  nav#navigation .closeMenuButton,
  nav#navigation .openMenuButton,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 69%;
  }

  nav#navigation .menu ul.page-links {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation ul.page-links li a {
    color: var(--primary);
    opacity: 0.7;
    transition: opacity 0.4s;
  }

  nav#navigation ul.page-links li a.active,
  nav#navigation ul.page-links li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation ul.page-links li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    opacity: 1;

    position: relative;
    bottom: -2.4rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll ul.page-links li a::after {
    background-color: white;
  }

  nav#navigation ul.page-links li a.active::after,
  nav#navigation ul.page-links li a:hover::after {
    width: 100%;
    padding-inline: 0.5rem;
  }

  nav#navigation a.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    gap: 1.6rem;

    border: 1px solid var(--primary);
    border-radius: 4rem;

    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation a.button.active,
  nav#navigation a.button:hover {
    color: var(--primary-light);
    background-color: var(--primary);
  }

  nav#navigation.scroll ul.page-links li a {
    color: white;
    opacity: 0.7;
    transition: opacity 0.4s;
  }

  nav#navigation ul.page-links li a.active,
  nav#navigation ul.page-links li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation.scroll a.button {
    color: var(--primary-light);
    border-color: var(--primary-light);
  }
  nav#navigation.scroll a.button.active,
  nav#navigation.scroll a.button:hover {
    background-color: var(--primary);
    border: none;
    filter: brightness(1.2);
  }

  /*=================== HOME =================== */
  #home .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B";
  }
  #home .col-a {
    text-align: left;
  }
  #home .col-a .button {
    margin-inline: 0;
  }
  #home .col-b {
    display: flex;
    align-items: flex-end;
  }
  #home .col-b img {
    width: 52rem;
  }

  /*=================== REVIEWS =================== */
  #reviews .swiper-slide {
    width: 40%;
  }

  #reviews .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  #reviews .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  /*=================== CLASSICS =================== */
  #classics h2 {
    width: 47rem;
    margin-inline: auto;
  }
  #classics .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #classics .card {
    width: 45%;
    flex-grow: 1;
  }

  /*=================== ABOUT =================== */
  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "B A";
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content h2 {
    margin-bottom: 0;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*=================== CONTACT =================== */
  #contact .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B";
    gap: 6.7rem;
  }

  #contact .content {
    text-align: left;
  }

  section#contact .col-a .content .button {
    margin-inline: 0;
    margin-bottom: 3rem;
  }

  #contact .col-a {
    align-self: center;
  }

  #contact .col-b iframe {
    height: 50rem;
  }

  /*=================== FOOTER =================== */
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B";
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }
}
